html, body {
    width: 100%;
    overflow-x: hidden;
}

.container {
    display: flex;
    margin-top: 200px;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
}

.image-container {
    width: 800px;
    border: 1px solid black;
    height: 500px;
    position: relative;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  z-index: 10px;
}

.arrow:hover,
.nav li:hover {
    cursor: pointer;
}

.right {
    right: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.left {
    left: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

.left,
.right {
    position: absolute;
}

.nav  {
    display: flex;
}

.nav li {
    width: 20px;
}

#breeds {
    margin-bottom: 10px;
}
