.main-container {
    display: flex;
    margin-top: 200px;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    height: 100vh;
}
